.plugin-page {
    max-width: 1420px;
    margin: auto;
}

.header-bot {
    /* make items appear horizontally*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.non-menu-back-button i{
    color: black;
}

.bot-title {
    font-weight: 600;
    margin-left: 10px;
    font-size: 20px;
}



.input-field {
    position: relative;
}
.category-dropdown {
    position: absolute;
    right: 0;
    top: 10px;
    /*background: #ECEEF9; !important;  Change this to your desired background color */
    background: #ECEEF9 url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E') no-repeat right 5px top 55% !important;
    border: none;
    box-shadow: none;
    height: 42px;
    padding-right: 32px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 134px;
    border-radius: 12px !important;
    margin-right: 8px;
}
.input-field input {
    padding-right: 120px; /* Adjust based on the dropdown width */
}
/* Custom arrow */
.category-dropdown:after {
    content: '\25BC'; /* Unicode for down arrow */
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: #000000; /* Change this to your desired arrow color */
    pointer-events: none;
}

.writer-input-box {
    margin: 0px !important;
    line-height: 24px !important;
    height: 24px !important; 
}

.input-field label{
    height: 24px !important;
    margin-top: 10px;
    margin-left: 16px;
}

.input-field label.active {
    display: none;
}

#writer-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

.writer-input {
    margin-left: 24px;
    
}

.add-more {
    display: flex;
    align-items: center;
    color: #3147B8; /* Google blue color */
    cursor: pointer;
    font-size: 16px;
}
.add-more i {
    margin-left: 5px;
}

#generate-blogposts {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
}

#generate-blogposts button{
    display: flex;
    width: 362px;
    align-items: center;
    justify-content: center;
}

#generate-blogposts .svg-icon {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#generate-blogposts .svg-icon svg {
    height: 24px;
    width: 24px;
}


/* Table */
#posts-table-div {
    padding: 11px;
    background: #FAFAFC;
    border-radius: 12px;
    margin-top: 50px;
}

#posts-table {
    background: transparent;
}

#posts-table-div tbody tr {
    border-radius: 8px;
}

/*if row is hovered, make it ECEEF9*/
#posts-table-div tbody tr:hover {
    background: #ECEEF9;
}

/* Table row styling */
table tbody td {
    padding: 10px 10px 9px 10px;
    border-bottom: 1px solid #ddd;
}

/* Action icons styling */
#posts-table-div tbody td a .material-icons {
    color: #1B1C25; /* Customize the color as needed */
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.post-title {
    font-size: 14px;
}

.post-author{
    font-size: 12px;
    color: #BCC1DA;
} 

#posts-table i{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* hide the green underline */
.input-field input {
    border-bottom-width: 0px !important;
    border-bottom-color: transparent !important;
    box-shadow: none !important;
}

#posts-table a:focus{
    box-shadow: none;
}

#billy-form-footer {
    display: flex;
    justify-content: center;
}
