.billy-menu {
    border-radius: 12px;
    background: var(--Secondary-light-purple, #E0E3F2);
    width: 100%;
    padding: 8px 11px 11px 8px;
}


.menu-label-center {
    font-size: 16px;
    align-items: center;
    vertical-align: middle;
    display: inline-flex;
    font-weight: 400;
}

.right-billy-buttons {
    margin-left: 60px;
    align-items: right;
    justify-content: right;
}

#billy-form {
    width: 100%;
    height: 140px;
    margin: auto;
}

#billy-chatbox {
    position: absolute;
    width: calc(100% - 120px);
    bottom: 0px;
    left: 0;
    margin: 60px;
}

#billy-form label {
    margin-left: 16px;
}

#billy-form-footer {
    /* top right bottom left*/
    margin: 10px auto 10px auto;
    position: absolute;
    width: 280px; /* Fixed or relative width */
    left: 50%;
    transform: translateX(-50%);
}