body {
    background-color: #fafafa; /* Instagram's background color */
    font-family: 'Roboto', sans-serif; /* Instagram's font */
}
.client {
    display: flex;
    height: calc(100vh - 60px);
    width: 100%;
}
.chat-column {
    border-right: 1px solid #dbdbdb;
    padding: 1rem;  /* reduced padding */
    width: 25%;
    overflow-y: auto;
}
.future-column {
    width: 75%;
    padding: 2rem;
}
.input-field textarea {
    border: 1px solid #dbdbdb; /* Instagram's border color */
}
.btn {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
    padding: 10px;
}
.future-column {
    position: relative;
    width: 100%;
    padding: 10;
}

.future-column iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #dbdbdb;
}

.aspect-16-9 {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    overflow: hidden;
}
.title-container h4 {
    margin: 0;
    font-weight: 500;  /* Semi-bold font weight */
}

.title-container a {
    color: #3897f0;  /* Instagram's button color */
}
.processing-dot {
    animation: dot 1s infinite;
}
.processing-message {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

@keyframes dot {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
.brand-logo {
    margin-left: 10px; /* Adjust as needed */
}
.container img {
    width: 100%;
    height: auto;
    object-fit: cover; 
}
.card-panel.black {
    height: 140px;
    overflow-y: auto;
}
.button-container {
    display: flex;
    justify-content: flex-end;
}

