/* Styles for the main page (Billy) */

/* Styles for Side menu */
.back-button {
    display: none !important;
}

.billy-menu {
    border-radius: 12px;
    background: var(--Secondary-light-purple, #E0E3F2);
    width: 100%;
    padding: 8px 11px 11px 8px;
}

.menu-label-center {
    font-size: 16px;
    align-items: center;
    vertical-align: middle;
    display: inline-flex;
    font-weight: 400;
}

.right-billy-buttons {
    margin-left: 60px;
    align-items: right;
    justify-content: right;
}

#billy-form {
    width: 100%;
    height: 140px;
    margin: auto;
}

#billy-form textarea{
    height: 100% !important;
}

#billy-chatbox-input {
    position: absolute;
    width: calc(100% - 120px);
    bottom: 25px;
    left: 0;
    margin: 20px 60px 20px 60px;
}

#billy-form label {
    margin-left: 16px;
}

#billy-form-footer {
    /* top right bottom left*/
    margin: 10px auto 10px auto;
    position: absolute;
    width: 80%; /* Fixed or relative width */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}


/* Conversation and bubbles */
#billy-chatbox {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-height: calc(100vh - 250px);
    overflow-y: auto;
}

.suggestions {
    width: 100%;
    font-weight: 300;
    margin-top: calc(100vh - 600px);
}


.suggestion-button.card  {
    height:200px !important; 
    display: block !important;
    text-align: left;
}



/* styles for threads */
.thread-btn {
    border-radius: 12px; /* Rounded corners as specified */
    background-color: #CDD2EA; /* Custom background color */
    color: #1B1C25;
    margin: 4px;
}
/* darken thread-btn 10% on gover */
.thread-btn:hover {
    background-color: #B4B9D1;
    color: #1B1C25;
}